#bookCart{
    padding-top:120px;
    padding-bottom:150px;
}
#bookCart .hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
#bookCart .top{
    display:flex;
    justify-content:space-between;
    margin-bottom:120px;
}
#bookCart .top h3{
    font-size: 18px;
    font-weight: 600;
}
#bookCart .top .process{
    display:flex;
    align-items:center;
    gap:15px;
}
#bookCart .top .process span{
    background:#1E1A1A;
    color:#fff;
    font-weight:600;
    padding:3px 10px;
}
#bookCart .grid_wrap{
    display:grid;
    grid-template-columns: 1fr 340px;
    gap:50px;
    position:relative;
}
#bookCart .grid_wrap .left .table_top{
    margin-bottom:50px;
}

/* ------------------ CART TABLE -------------------- */
#bookCart .grid_wrap .left table{
    width:100%;
}
#bookCart .grid_wrap .left .table_top label,
#bookCart .grid_wrap .left table .td_check label{
    position:relative;
    padding-left:30px;
}
#bookCart .grid_wrap .left .table_top label::before,
#bookCart .grid_wrap .left table .td_check label::before{
    content:"\f00c";
    font-family: "Font Awesome\ 5 Free";
    font-weight: bold;
    font-size:16px;
    width:26px;
    height:28px;
    text-align:center;
    line-height:28px;
    border:1px solid #ccc;
    color:#ccc;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    transition:.3s;
}
#bookCart .grid_wrap .left .table_top input:checked + label::before,
#bookCart .grid_wrap .left table .td_check input:checked + label::before{
    background:#1E1A1A;
    color:#fff;
    border-color:#1E1A1A;
}
#bookCart .grid_wrap .left table tr{
    display:grid;
    grid-template-columns:30px 1fr 150px 200px 30px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:30px 0;
}
#bookCart .grid_wrap .left table tr td:not(:first-child, :last-child){
    padding:0 20px;
}
#bookCart .grid_wrap .left table .td_check label{
    display:inline-block;
    font-size:0;
}
#bookCart .grid_wrap .left table .book_info{
    display:flex;
    gap:20px;
}
#bookCart .grid_wrap .left table .book_info img{
    width:100px;
}
#bookCart .grid_wrap .left table .book_info .info_text > p{
    font-weight:600;
    margin-bottom:20px;
}
#bookCart .grid_wrap .left table .book_info .info_text .price{
    display:flex;
    align-items:center;
    gap:5px;
    font-size:14px;
}
#bookCart .grid_wrap .left table .book_info .info_text .price .percent{
    background:#1E1A1A;
    color:#fff;
    font-weight:600;
    padding:2px;
}
#bookCart .grid_wrap .left table .book_info .info_text .price .dis{
    font-weight:700;
}
#bookCart .grid_wrap .left table .book_info .info_text .price .prime{
    text-decoration:line-through;
    color:#646464;
}
#bookCart .grid_wrap .left table .book_info .info_text .price .point{
    color:#646464;
}
#bookCart .grid_wrap .left table .price_amt{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
}
#bookCart .grid_wrap .left table .price_amt .t_price{
    font-size:18px;
    font-weight:700;
}
#bookCart .grid_wrap .left table .price_amt .amount{
    display:flex;
}
#bookCart .grid_wrap .left table .price_amt .amount button{
    padding:7px 10px;
    border:1px solid #eee;
    cursor: pointer;
}
#bookCart .grid_wrap .left table .price_amt .amount button i{
    font-size:14px;
    color:#646464;
}
#bookCart .grid_wrap .left table .price_amt .amount p{
    width:50px;
    height:32px;
    line-height:32px;
    text-align:center;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
#bookCart .grid_wrap .left table .delivery{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#bookCart .grid_wrap .left table .delivery > div{
    padding:20px 0;
}
#bookCart .grid_wrap .left table .delivery > div:first-child{
    border-bottom:1px solid #eee;
}
#bookCart .grid_wrap .left table .delivery > div:first-child > p:first-child{
    background:#eee;
}
#bookCart .grid_wrap .left table .delivery p:first-child{
    display:inline-block;
    padding:3px 5px;
    border:1px solid #ccc;
    font-size:13px;
    margin-bottom:5px;
}
#bookCart .grid_wrap .left table .delivery p:last-child{
    font-size:13px;
    font-weight:600;
}
#bookCart .grid_wrap .left table td:last-child button i{
    color:#ccc;
    font-size:18px;
}

/* ------------------ BUY INFO -------------------- */
#bookCart .grid_wrap .right{
    width:340px;
    height:fit-content;
    position:sticky;
    top:50px;
    right:0;
}
#bookCart .grid_wrap .right .buy_info{
    padding:30px;
    border:1px solid #ccc;
    margin-bottom:30px;
}
#bookCart .grid_wrap .right .buy_info > div{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
}
#bookCart .grid_wrap .right .buy_info > div:nth-child(3){
    padding-bottom:30px;
    border-bottom:1px solid #eee;
}
#bookCart .grid_wrap .right .buy_info > div p:first-child{
    font-size:15px;
}
#bookCart .grid_wrap .right .buy_info > div p:last-child{
    font-size:17px;
}
#bookCart .grid_wrap .right .buy_info .total{
    padding-top:30px;
}
#bookCart .grid_wrap .right .buy_info .total .total_price{
    font-size:20px;
    font-weight:700;
}
#bookCart .grid_wrap .right .buy_info .gray p{
    color:#646464;
    font-size:14px;
}
#bookCart .grid_wrap .right .buy_info .bold{
    font-weight:600;
}
#bookCart .grid_wrap .right a{
    display:block;
    width:100%;
    text-align:center;
    padding:20px 0;
    border:1px solid #1E1A1A;
    font-size:17px;
    font-weight:600;
}
#bookCart .grid_wrap .right a.buy{
    margin-top:30px;
    background:#1E1A1A;
    color:#fff;
}