#paycomplete{
    padding-top:120px;
    padding-bottom:320px;
    text-align:center;
}
#paycomplete .success{
    font-size:20px;
    font-weight:600;
    margin-bottom:50px;
}
#paycomplete .after_btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
#paycomplete .after_btn a{
    border:1px solid #1E1A1A;
    padding:15px 20px;
}
#paycomplete .after_btn a:first-child{
    background:#1E1A1A;
    color:#fff;
}
#paycomplete .top{
    display:flex;
    justify-content:space-between;
    margin-bottom:200px;
}
#paycomplete .top h3{
    font-size: 18px;
    font-weight: 600;
}
#paycomplete .top .process{
    display:flex;
    align-items:center;
    gap:15px;
}
#paycomplete .top .process p:last-child span{
    background:#1E1A1A;
    color:#fff;
}
#paycomplete .top .process span{
    background:#ccc;
    color:#fff;
    font-weight:600;
    padding:3px 10px;
}