#Myorder{
    padding-top: 20px;
    padding-bottom:50px;
}
#Myorder .container{
    max-width: 1200px;
    margin: 0 auto;
}
#Myorder .filter{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}
#Myorder .filter .filter-select{
    padding: 8px 15px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
}
#Myorder .filter .filter-search{
    padding: 8px 12px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    width: 200px;
}
#Myorder .table {
    width: 100%;
    border-collapse: separate;
    text-align: center;
    font-size: 15px;
}
#Myorder .table th {
    padding: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#Myorder .table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}
#Myorder .table th:nth-child(1), 
#Myorder .boardlist td:nth-child(1) { 
    width: 10%; 
}
#Myorder .table th:nth-child(2), 
#Myorder .boardlist td:nth-child(2) { 
    width: 20%; 
}
#Myorder .table th:nth-child(3), 
#Myorder .boardlist td:nth-child(3) { 
    width: 30%; 
    
}
#Myorder .table th:nth-child(4), 
#Myorder .boardlist td:nth-child(4) { 
    width: 10%; 
}
#Myorder .table th:nth-child(5), 
#Myorder .boardlist td:nth-child(5) { 
    width: 15%; 
}
#Myorder .table th:nth-child(6), 
#Myorder .boardlist td:nth-child(6) { 
    width: 15%; 
}
#Myorder .table img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}
#Myorder .table .title {
    text-align: left;
    padding-left: 10px;
    font-weight: 600;
    max-width: 200px;          
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}