#Mypage{
    padding-top:70px;
    padding-bottom:30px;
}
#Mypage p{
    text-align: center;
    font-size: 30px;
}
#Mypage h3{
    font-size: 22px;
    font-weight:600;
    text-align: center;
}
#Mypage .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
#Mypage .top{
    margin-bottom: 80px;
}
#Mypage .tab-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#Mypage .tab-menu a {
    padding: 10px 30px;
    /* background: black; */
    /* color: white; */
}
#Mypage .tab-menu a.active {
    background: white;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
}
/*========= 회원정보 변경 =========*/
#Mypage form {
    width: 370px;
    margin: 0 auto;
}
#Mypage form div {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
#Mypage form label {
    flex: 0 0 100px;
    font-size: 15px;
}
#Mypage form input { 
    flex: 2;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid #000;
    background: none;
    padding-bottom: 5px;
}
#Mypage .input_wrap {
    height: 30px;
    position: relative;
}
#Mypage .id-check-result{
    color: red; 
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    top: 80%; 
    left: 100px;
}
#Mypage .email_box {
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(10px);
}
#Mypage .email_box input,
.email_box select {
    flex: none;
    width: 120px;
    height: 30px;
    font-size: 15px;
    box-sizing: border-box;
    border: none; 
    border-bottom: 1px solid #000; 
    background: none; 
}
#Mypage .email_id {
    flex: 0 0 80px
}
#Mypage .at_mark {
    flex: 0;
    padding: 0 5px;
}
#Mypage .email_domain {
    flex: 1;        
}
#Mypage .check_btn, .zipcode_btn {
    margin-left: 10px;
    padding: 5px 10px; 
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}
#Mypage .check_btn:hover, .zipcode_btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
#Mypage .mypage_btn {
    display: flex;
    justify-content: center;  
    gap: 20px;              
    margin-top: 60px;
}
#Mypage .mypage_btn button {
    padding: 10px 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
#Mypage .mypage_btn button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
/*========= 주문내역 =========*/
#Myorder{
    padding-top:80px;
    padding-bottom:50px;
}
#Myorder .table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
}
#Myorder .table th {
    padding: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
#Myorder .table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}
#Myorder .table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}
#Myorder .table img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}
#Myorder .table .title {
    text-align: left;
    padding-left: 10px;
    font-weight: 600;
}